 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'Gift Card', root_path, class:"navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul> 
      <ul class="nav navbar-nav navbar-right px-4">
        <li class="nav-item ">
          <%= link_to 'Login', logintype_path, class: ' btn btn-success' %>
        </li>
      </ul>  
    </div>
  </div>
</nav>

<% flash.each do |type, msg| %>
  <% if msg==""%>
    <div>
    <%= msg %>
    </div>
  <% else %>
  <div class="alert alert-warning text-center">
    <%= msg %>
  </div>
  <% end %>
<% end %>

<div class="container card  col-sm-4 my-4 p-4 ">

    <h1 class=" d-flex justify-content-center align-items-center ">Register</h1>

    <form method="POST" action="<%= register2_path %>">
    <%= token_tag %>


    <div class="mb-3">
    <label for="username1">Username</label><br>
    <input type="text" name="username1" id="username1" class="form-control" required><br>
    </div>

    <div class="mb-3">
    <label for="username">Password</label><br>
    <input type="password" name="password" id="password" class="form-control" required><br>
    </div>

    <div class="field form-group">
    <label for="username">Confirm Password</label><br>
    <input type="password" name="confirmpassword" id="confirmpassword" class="form-control" required><br>
    </div>

    <div class="mb-3">
    <label for="username">Email</label><br>
    <input type="email" name="username" id="username" class="form-control" required><br>
    </div>
    <div class="mb-3  d-flex justify-content-center align-items-center">
    <button type="submit" class="btn btn-secondary">Register</button>
    </div>


    </form>
</div>
